<h1>Najnowsze zdjęcia</h1>

<br>
  <p>
    <% @photos.each do |photo| %>
      <span id="small"><%= link_to image_tag(photo.image_url), photo %></span>
    <% end %>
  </p><br />

<%= paginate @photos %>
