<h1>Najnowsze zdjęcia</h1>

  <tbody>
    <% @photos.each do |photo| %>
        <p><%= link_to image_tag(photo.image_url), photo %></p>
    <% end %>
  </tbody>

<br>

<%= link_to 'Dodaj nowe zdjęcie', new_photo_path %>
