<div><h1>Najnowsze zdjęcia</h1></div><br />


<section id="photos">
    <% @photos.each do |photo| %>
      <%= link_to image_tag(photo.image_url), photo %>
    <% end %>
</section>


<!-- <%= paginate @photos %> -->
