<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś zarządał linka do zmiany hasła. Hasło można zmienić klikając linka poniżej. </p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie prosiłeś o zmianę hasła zignoruj tę wiadomość.</p>
<p>Twoje hasło się nie zmieni dopóki nie klikniesz linka powyżej i nie podasz nowego hasła.</p>
